<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Orders Management System</h1>

    <!-- Customers -->
    <div>
        <a href="/create-customer"><button>Create Customer</button></a>
        <a href="/view-customers"><button>View Customers</button></a>
    </div>
    <br>

    <!-- Products -->
    <div>
        <a href="/create-product"><button>Create Product</button></a>
        <a href="/view-products"><button>View Products</button></a>
    </div>
    <br>

    <!-- Orders -->
    <div>
        <a href="/create-orders"><button>Create Order</button></a>
        <a href="/view-orders"><button>View All Orders</button></a>
        <a href="/fetch-by-customer"><button>Fetch Orders by Customer</button></a>
    </div>
</body>
</html>
