<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Products</title>
</head>
<body>
    <h1>Create Products</h1>
    <form action="/customers/" method="post">
        Name: <input type="text" name="name" required><br><br>
        Description: <input type="text" name="description" required><br><br>
        Price: <input type="number" step="0.01" name="price" required><br><br>
        <button type="submit">Create Product</button>
    </form>
    <hr>
    <!-- Navigation Links -->
    <div>
        <a href="/products/"><button>View Products</button></a>
    </div>
    
</body>
</html>